<app-main-header></app-main-header>
<div class="card">
  <div class="card-body">
    <div *ngIf="game">
      <app-main-game-tabs [game]="game"></app-main-game-tabs>
      <hr />
      <div class="mb-3">
       <app-main-game-turn-actions
        [availableTurnActions]="availableTurnActions"
        [availableTradeActions]="availableTradeActions"
        [selectedTurnAction]="selectedTurnAction"
        [selectedTradeAction]="selectedTradeAction"
        [shipEquipment]="game.locationModel.vendorModel.shipEquipment"
        [credits]="game.credits"
        (onTurnSelectedEvent)="onTurnSelected($event)"
        (onTradeActionChangedEvent)="onTradeActionChanged($event)"
        (onSelectedEquipmentEvent)="onSelectedEquipment($event)">
      </app-main-game-turn-actions>
        <div class="row">
          <span class="btn btn-sm btn-outline-primary ml-2" (click)="engage()">Engage</span>
        </div>
      </div>
    </div>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
</div>

