<div class="form-group">
  <label class="col-xs-2">Level: </label>
  <div class="col-xs-10">
    {{location.level}}
  </div>
</div>
<div class="form-group">
  <label class="col-xs-2">Name: </label>
  <div class="col-xs-10">
    {{location.name}}
  </div>
</div>
<span>Progress:</span>
<p><ngb-progressbar type="success" [value]="location.currentPosition" [max]="location.locationSize"></ngb-progressbar></p>
<div *ngIf="location.hostility">
  <span class="text-danger">Hostilities:</span><br />
  <span class="text-danger">Aggression Level: {{location.hostility.aggressionName}}</span>
  <p><ngb-progressbar type="danger" [value]="location.hostility.currentHitpoints" [max]="location.hostility.maximumHitpoints"></ngb-progressbar></p>
</div>
<div *ngIf="location.mining">
  <span class="text-warning">Resources to Mine:</span>
  <p><ngb-progressbar type="warning" [value]="location.mining.currentCapacity" [max]="location.mining.maximumCapacity"></ngb-progressbar></p>
</div>
<div *ngIf="location.vendorModel">
  <app-vendor [vendor]="location.vendorModel"></app-vendor>
</div>

