<div class="modal-header">
  <h4 class="modal-title">Captains Report.</h4>
</div>
<div class="modal-body">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let message of messages">
      <div class="picsum-img-wrapper">
        <img [src]="message.messageType | messageTypeToImage" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <p>{{ message.messageText }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- <ul>
    <li *ngFor="let message of messages">{{message.messageText}}</li>
  </ul> -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>

</div>
